<div class="form-froup row">
  <label class="col-sm-2 col-form-label">Account Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="AccountName"
           placeholder="Enter Account Name">
  </div>
  <label class="col-sm-2 col-form-label">Contact Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="ContactName"
           placeholder="Enter Contact Name">
  </div>

  <label class="col-sm-2 col-form-label">Builder Address</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="BuilderAddress"
           placeholder="Enter Builder Address">
  </div>


  <label class="col-sm-2 col-form-label">ABN</label>
  <div class="col-sm-10">
    <input type="number" class="form-control" [(ngModel)]="ABN"
           placeholder="Enter Builder's ABN">
  </div>
</div>

<button (click)="addBuilder()" *ngIf="builder.BuilderID==0" class="btn btn-primary">
  Add
</button>

<button (click)="updateBuilder()" *ngIf="builder.BuilderID!=0" class="btn btn-primary">
  Update
</button>
